<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign in</title>
    <link href="https://d3jgo56a5b0my0.cloudfront.net/assets/userflow-537c898b304b94ff8466d9f7b4457bfa.css" media="screen" rel="stylesheet" type="text/css">
    <div class="header">
      <div class="center">
        <div class="inner ">
          <h1><a href="https://www.pivotaltracker.com/">Pivotal Tracker - Agile Project Management Software</a></h1>
        </div>
      </div>
    </div>
    <div class="signin_column ">
      <div class="dialog">
        <div class="signin inner">
          <h1>Sign in</h1>
          <form accept-charset="UTF-8" action="/signin" method="post">
            <div class="inner clearfix">
              <ul>
                <li>
                  <input class="credentials_username" id="credentials_username" maxlength="100" name="username" placeholder="Email or username" tabindex="1" type="text">
                </li>
                <li>
                  <input autocomplete="off" class="credentials_password" id="credentials_password" maxlength="100" name="password" placeholder="Password" tabindex="2" type="password" value="">
                </li>
                <li>
                </li>
                <li class="sign_in">
                  <button id="signin_button" type="submit"><span tabindex="4">Sign In</span><span></span></button>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
    </body>
</html>
